/* CSS declarations go here */

.hidden { display: none; }

body {
	text-align: center;
}
#playlistView {
	display: inline-block;
	width: 500px;
	margin-top: 120px;
	margin-bottom: 400px;
}

#playlistView .new { 
	width: 490px; /* -10 to compensate for border and padding */
	font-size: 18px;
}

#playlistView .play {
	padding: 10px;
	font-size: 14px;
	font-weight: bold;
}

#playlistView h1 { margin-bottom: 20px;}
.playlistItem { 
	display: inline-block;
	position: relative;
	clear: both;
	width: 525px;
	left: -25px;
	height: 30px;
	margin-bottom: 15px;
	font-size: 18px;
	text-align: left;
}
.playlistItem .playPauseIcon {
	position: absolute;
	display: inline-block;
	left: 0;
	width: 25px;
	height: 30px;
	cursor: pointer;
}
.playlistItem .playPauseIcon i {
	position: absolute;
	top: 7px;
}
.playlistItem .container {
	position: absolute;
	display: inline-block;
	width: 500px;
	left: 25px;
	background-color: red;
	cursor: default;
}
.playlistItem .name {
	position: absolute;
	z-index: 3;
	color: white;
	top: 5px;
	left: 10px;
}
.playlistItem .scrubber {
	position: absolute;
	height: 30px;
	top: 0;
	background-color: #00AD0E;
	z-index: 2;
}
.playlistItem .background {
	background-color: #B7C7B8;
	width: 500px;
	height: 30px;
	position: absolute;
	z-index: 1;
}

.typeahead.dropdown-menu {
	font-size: 18px;
	width: 500px;
	overflow: hidden;
	text-align: left;
}

