
.hidden { display: none; }
.clickArea { position: absolute; width: 100%; height: 100%; z-index: 999; }

html {
	background-image: url(/img/enourmous_bg.jpg);
	background-color: transparent;
	background-position: bottom left;
	background-attachment:fixed;
}
body {
	text-align: center;
	cursor: default;
	background-color: transparent;
}
h1 { font-family: 'Just Me Again Down Here', cursive; 
	 font-size:60px;
	 color: white; }
h1#logo {
	position: absolute;
	top: 10px;
	left: 0px;
	font-size: 130px;
	opacity: 0.4;
	-moz-opacity: 0.4;
	filter:alpha(opacity=5);
}

#attribution { 
	color: white; 
	position: fixed;
	font-size: 9px;
	right: 5px;
	bottom: 3px;
	z-index: 0;
	font-family: Arial; }

#attribution a { color: white; text-decoration: underline;  }
