/* CSS declarations go here */

.hidden { display: none; }

body {
	text-align: center;
}
#playlistView {
	display: inline-block;
	width: 500px;
	margin-top: 120px;
	margin-bottom: 400px;
}

#playlistView .new { 
	width: 500px;
	font-size: 18px;
	padding: 8px;
}

#playlistView h1 { margin-bottom: 20px;}
.playlistItem { 
	display: inline-block;
	padding: 8px;
	background-color: #B7C7B8;
	clear: both;
	width: 500px;
	margin-bottom: 15px;
	font-size: 18px;
	text-align: left;
}

.playlistItem.active { 
	background-color: #00AD0E;
	color: white;
}

.playlistItem:nth-child(1) {
	background-color: #00AD0E;
	color: white;
}

.typeahead.dropdown-menu {
	font-size: 18px;
	padding: 8px;
	width: 500px;
	overflow: hidden;
	text-align: left;
}